<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <br>
  <div>
    <ul>
      <li *ngFor="let pais of paises">{{pais.nombre}}</li>    
    </ul>
    <ul>
      <ng-container *ngFor="let pais of paises">
        <li *ngIf="pais.activo">{{pais.nombre}}</li>
      </ng-container>
    </ul>
  </div>
  <div>
    <agm-map [latitude]="lat" [longitude]="lng">
      <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
    </agm-map>
  </div>

</div>
<router-outlet></router-outlet>
