<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <br>
  <div>
    <ul>
      <ng-container *ngFor="let Country of Countries; let i = index" [ngSwitch]="Country.location">
        <li [ngStyle]="{color: (Country.status) ? '#52af5f':'#ff0053'}" [ngClass]="{even: (i+1)%3==0}">
          {{Country.name}}-
          <span *ngSwitchCase=1>Very Close</span>
          <span *ngSwitchCase=2>Close</span>
          <span *ngSwitchCase=3>Really Far</span>
        </li>
      </ng-container>
    </ul>
  </div>
  <div>
    <agm-map [latitude]="lat" [longitude]="lng">
      <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
    </agm-map>
  </div>

</div>
<router-outlet></router-outlet>
